html body {
  background-color: #36373A;
}

hr {
  border: none;
  height: 100px;
  background-color: #FCFEFF;
}

h6 {
  color: #FCFEFF;
}

.important {
  font-weight: bold;
  color: #FCFEFF;
  font-size: 1.2em;
  font-style: italic;
}

.highlight {
  font-weight: bold;
  color: #FCFEFF;
}

.container {
  color: #DAC778;
  border-radius: 5%;
  border-right: 1px solid #FCFEFF;
  border-left: 1px solid #FCFEFF;
  padding-left: 3vw;
  padding-right: 3vw;
}

.greeting {
  font-size: 1.2em;
}

.img-thumbnail {
  padding: 0px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 2vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newSection {
  padding-bottom: 5vh;
  padding-top: 5vh;
  text-shadow: 2px 2px 4px #000000;
}

.sectionHeader {
  text-align: center;
  color: #FCFEFF;
  text-shadow: 2px 2px 4px #000000;
}

.progress {
  margin-top: 2vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress .progress-bar-animated {
  background-color: #B8A76B;
}

.progress .odd {
  background-color: #545355;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.btn-outline-light {
  margin-left: 1vw;
}

#intro {
  padding-top: 15vh;
  padding-bottom: 8vh;
  color: #FCFEFF;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

#about {
  padding-bottom: 4vh;
  text-align: center;
}