html body {
  background-color: #36373A;
}

hr {
  border: none;
  height: 100px;
  background-color: #FCFEFF;
}

.important {
  font-weight: bold;
  color: #FCFEFF;
  font-size: 1.2em;
  font-style: italic;
}

.highlight {
  font-weight: bold;
  color: #FCFEFF;
}

.container {
  color: #DAC778;
  border-radius: 5%;
  border-right: 1px solid #FCFEFF;
  border-left: 1px solid #FCFEFF;
  padding-left: 3vw;
  padding-right: 3vw;
}

.greeting {
  font-size: 1.2em;
}

.img-thumbnail {
  padding: 0px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 2vh;
}

.newSection {
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.sectionHeader {
  text-align: center;
  color: #FCFEFF;
}

#intro {
  padding-top: 20vh;
  padding-bottom: 8vh;
  color: #FCFEFF;
  text-align: center;
}

#about {
  padding-bottom: 4vh;
  text-align: center;
}